:root.theme-dark {
  --main-color: #ff0070;
  --title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --button-color: #ff0070;
  --bg-color: #000028;
  --button-hover-border: #ff007066;
  --card-title-color: #000028;
  --link-shadow-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
  --visible: visible;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
