:root.theme-light {
  --main-color: #FF8DCB;
  --title-color: #FFC2E6;
  --main-text-color: #353430;
  --button-color: #353430;
  --bg-color: #fff1f7;
  --button-hover-border: #32312D66;
  --card-title-color: #353430;
  --link-shadow-color: #FF8DCB;
  --bg-image: url("../images/cover-image-light.png");
  --visible: hidden;
}