
.page {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--main-text-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: var(--main-padding);
  inset-block-start: var(--main-padding);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  block-size: 25px;
  inline-size: 25px;
  inset-block-end: var(--main-padding);
  inset-inline-start: var(--main-padding);
}

.header__rec {
  color: var(--button-color);
  text-transform: uppercase;
  position: absolute;
  line-height: 25px;
  inset-inline-end: calc(var(--main-padding) + 28px);
  visibility: var(--visible);
  inset-block-start: var(--main-padding);
}

.header__rec::after {
  content: "";
  position: absolute;
  background-color: var(--button-color);
  height: 9px;
  width: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 4px var(--button-color);
  visibility: var(--visible);
  margin-top: 9px;
  margin-left: 10px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-bottom: var(--content-padding);
  height: 100vh;
  align-items: center;
  justify-items: end;
  padding: var(--main-padding);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--button-color);
  text-transform: lowercase;
  background: transparent;
  border: none;
  padding: 1.5px 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-border);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  line-height: 83%;
}

.header__title {
  justify-self: start;
  text-shadow: 4px 4px 0 var(--main-color);
}

.header__text {
  justify-items: end;
}

.text {
  color: var(--card-title-color);
  background-color: var(--main-color);
  font-weight: bold;
  font-size: inherit;
  line-height: (var(--main-line-height));
}

/*TODO*/
.main__section-header {
  font-size: inherit;
  line-height: (var(--main-line-height));
  color: var(--main-color)
}

.main__section,
.cards {
  display: grid;
  grid-auto-flow: row;
  gap: var(--card-gap);
}

.main__section-card {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}

.card-description {
  line-height: var(--main-line-height);
}

.main {
  padding: 0 var(--main-padding);
  display: grid;
  grid-auto-flow: row;
  gap: var(--sections-gap);
  margin-bottom: var(--content-padding);
}

.card-subhead {
  font-weight: normal;
  line-height: var(--main-line-height);
}

.main__section-card_with-cards {
  display: grid;
  gap: var(--card-gap)
}

.main__section-card_with-image {
  display: grid;
  gap: var(--main-padding)
}

.cards-images {
  display: grid;
  grid-auto-flow: row;
  gap: var(--main-padding);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--main-color);
}

@media (min-width: 768px) {
  :root {
    --content-padding: 60px;
    --main-padding: 20px;
    --sections-gap: 80px;
  }

  .header__title {
    margin-inline-start: calc(-1 * var(--main-padding));
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    width: 50%;
    justify-content: end;
  }

  .section_why-so-hard {
    grid-template-columns: 1fr 2fr;
  }

  .section_what-do-it-less .main__section-header {
    width: calc(calc(1/3 * 100%) - var(--card-gap));
  }

  .section_what-do-better {
    grid-template-columns: 1fr 2fr;
  }
  
  .cards-images {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--main-padding);
  }

  .sunset {
    grid-column: span 2;
  }

  .icecream {
    grid-row: span 2;
  }

  .tape {
    grid-row: span 2;
  }

  .street {
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section_what-do-it-less-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
}
