:root {
  --main-font: 'IBM Plex Mono', monospace;
  --main-font-size: 18px;
  --main-line-height: 1.3;
  --card-gap: 20px;
  --sections-gap: 50px;
  --content-padding: 40px;
  --main-padding: 10px;

  --main-color: #ff0070;
  --title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --button-color: #ff0070;
  --bg-color: #000028;
  --button-hover-border: #ff007066;
  --card-title-color: #000028;
  --link-shadow-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
  --visible: visible;
}