:root {
  --main-font: 'IBM Plex Mono', monospace;
  --main-font-size: 18px;
  --main-line-height: 23.4px;
  --card-gap: 20px;
  --sections-gap: 50px;
  --content-padding: 40px;
  --main-padding: 10px;

  --main-color: #ff0070;
  --title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --button-color: #ff0070;
  --bg-color: #000028;
  --button-hover-border: #ff007066;
  --card-title-color: #000028;
  --link-shadow-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
  --visible: visible;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #FF8DCB;
    --title-color: #FFC2E6;
    --main-text-color: #353430;
    --button-color: #353430;
    --bg-color: #fff1f7;
    --button-hover-border: #32312D66;
    --card-title-color: #353430;
    --link-shadow-color: #FF8DCB;
    --bg-image: url("../images/cover-image-light.png");
    --visible: hidden;
  }
}